<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- the title from the page -->
    <title>{{title}}</title>
</head>
<body>
  <!-- Include a nav from partials -->
  {{>nav}}
  
  <div class="wrapper">
    <!-- The body of the page -->
    {{>body}}
  </div>

  <!-- Another partial -->
  {{>footer}}


  <!-- Another partial -->
  {{>analytics}}
    
</body>
</html>



<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= site_name %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="preview-refresh" content="300">
		<meta name="viewport" id="view" content="user-scalable=yes, minimum-scale = 1, maximum-scale = 1" />	
	</head>
	<body>
		
		
		{{>footer}}
		
		
		
		<!-- Google Analytics  -->
	    <script type="text/javascript">
	
	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', '<%= ua_code %>']);
	      _gaq.push(['_trackPageview']);
	
	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	
		</script>		
		
	</body>
</html>